<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <img src="/images/logo.png" alt="Logo de la tienda" style="height: 100px;">
            </div>

            <nav class="nav-menu">
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <% if (user && user.category==='Admin' ) { %>
                    <a href="/products/admin">Admin Producto</a>
                    <a href="/users/admin">Admin Usuario</a>
                    <% } %>
            </nav>
            <div class="search-cart">
                <form action="/products" method="GET" class="d-flex">
                    <input type="text" name="q" class="search-box" placeholder="Buscar productos...">
                    <button type="submit" class="cart-icon btn btn-link">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>


                <div class="cart-icon">
                    <a href="/cart">
                        <i class="fa-solid fa-cart-shopping cart-icon"></i>
                    </a>
                </div>
                <div class="cart-icon">
                    <a href="/users/profile">
                        <i class="fa-solid fa-user cart-icon"></i>
                    </a>
                </div>
                <% if (user) { %>
                    <div class="cart-icon">
                        <a href="/users/logout">
                            <i class="fa-solid fa-right-from-bracket cart-icon"></i>
                        </a>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
</header>